option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "archimedes.settings"
    "PYTHONPATH": "/opt/python/current/app/archimedes:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: archimedes/archimedes/wsgi.py
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
