{% extends "base.html" %}

{% load i18n %}


{% block full_page_photo %}
<div class="full_page_photo" style="background-image: url(static/images/Sliding4_CompanyCulture.png);"
     xmlns="http://www.w3.org/1999/html">
     <div class="container">
          <section class="call_to_action">
               <h3 class="animated bounceInDown">we <strong>love</strong> what we do</h3>
               <h4 class="animated bounceInUp skincolored">Give your data centers, IT facilities or manufacturing floors a boost in security and energy conservation</h4>
          </section>
     </div>
</div>
{% endblock %}
{% block content %}



     <section class="hgroup">
          <div class="container">
               <h1>About us</h1>
               <h2>Your company growth with secure and efficient data center</h2>
               <ul class="breadcrumb pull-right">
                    <li><a href="{% url 'home' %}">Home</a> </li>
                    <li class="active">About us</li>
               </ul>
          </div>     
     </section>
     <section class="article-text">
     <div class="container">
          <div class="row">
               <div class="col-sm-8 col-md-8">
                    <p>
                        <strong>Archimedes Controls Corp.</strong> provides you the technology you need to control, monitor, and
                        secure your data center. Based in Silicon Valley, Archimedes Controls was found by a group of
                        entrepreneurs, seasoned executives and industrial experts. For over 20 years, our founders have
                        successfully delivered numerous innovative software and systems to help customers achieve the
                        greatest profit and operational excellence.
                    </p>
                    <p>
                        Currently, Archimedes Controls Corp. is aimed at delivering next generation unified solutions to meet the demands
                        for securer environment, reduced maintenance cost and energy efficienteffiicent operations for
                        data center operators. As part of the data center technology evolution, these criteria are becoming more critical than
                        ever.
                    </p>
                    <p>
                        Archimedes Controls is committed to bring the latest technology and solutions to data center operators and their
                        customers. Please continue to visit our website for updates of our progress.
                    </p>
                   <br>
                   <br>
                    <blockquote>
                         <p>We deployed A150 system in one of our large customer’s IDC projects. The system provides a three-dimensional model displaying facility's temperature and airflow profile in real time. It also provides the capability of dynamically adjusting the controlling mechanism based on operation's scenario. A150 makes our data centers more intelligent and our operations more efficient.

With A150’s advanced technology coupled with its outstanding real time control capability, we realized continuous high PUE optimization and improved PUE from 1.66 to 1.50, and as the result, it saved us tremendous amount of power expenses. In order to drive and realize the IDC technology evolution, we plan to widely adapt and deploy A150 system in our IDC facility nationwide.</p>
                         <small><strong>Customer talking about us</strong></small> </blockquote>
               </div>
               <div class="col-sm-4 col-md-4">
                    <div class="service_teaser vertical">
                         <div class="service_photo">
                              <figure style="background-image:url(static/images/team_new.png)"></figure>
                         </div>
                         <div class="service_details">
                             <h2 class="section_header skincolored">We are a team!<small><b>Always up to serve customers!</b></small></h2>
                             <!--
                              <h2 class="section_header skincolored"><b>Teaser</b>Element<small>has many styles!</small></h2>

                              <a class="btn btn-primary" href="../documentation/index.html">Just teasing you &nbsp; <i class="fa fa-code-fork"></i></a>
                              -->
                         </div>
                    </div>
               </div>
          </div>
     </div>     
     </section>
     <section class="call_to_action"> <img alt="responsive" src="static/images/star.png">
          <div class="container">
               <h3>give your creative ideas a boost</h3>

          </div>     
     </section>
    <!--
     <section class="team_members">
          <div class="container">
               <h2 class="section_header fancy centered">Meet our Team... <small>they are always up to something good!</small></h2>
               <div class="row">
                    <div class="col-sm-6 col-md-3">
                         <div class="team_member">
                              <figure style="background-image: url(../images/1b.jpg)"><img src="static/images/1a.jpg" alt="1a"></figure>
                              <h5>Wenli Yu</h5>
                              <small>CEO / Founder</small>
                              <hr>
                              <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
                              <p class="short_bio">Short introduction</p>
                         </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                         <div class="team_member">
                              <figure style="background-image: url(../images/2b.jpg)"><img src="static/images/2a.jpg" alt="2a"></figure>
                              <h5>Tom Tan</h5>
                              <small>CTO / Founder</small>
                              <hr>
                              <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
                              <p class="short_bio">Short introduction</p>
                         </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                         <div class="team_member">
                              <figure style="background-image: url(../images/3b.jpg)"><img src="static/images/3a.jpg" alt="3a"></figure>
                              <h5>Sherry Hu</h5>
                              <small>COO</small>
                              <hr>
                              <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
                              <p class="short_bio">Introduction</p>
                         </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                         <div class="team_member">
                              <figure style="background-image: url(../images/4b.jpg)"><img src="static/images/4a.jpg" alt="4a"></figure>
                              <h5>Kevin Huang</h5>
                              <small>Engineer</small>
                              <hr>
                              <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="#googleplus"><i class="fa fa-google-plus"></i></a> </div>
                              <p class="short_bio">Introduction</p>
                         </div>
                    </div>
               </div>
          </div>     
     </section>
    -->
{% endblock %}