{% extends "base.html" %}

{% load i18n %}


{% block full_page_photo %}
<div class="full_page_photo" style="background-image: url(static/images/about_us_1920x480.jpg);">
     <div class="container">
          <section class="call_to_action">
               <h3 class="animated bounceInDown">we really <strong>love</strong> what we do</h3>
               <h4 class="animated bounceInUp skincolored">while <strong>always trying</strong> to get the job done!</h4>
          </section>
     </div>
</div>
{% endblock %}
{% block content %}



     <section class="hgroup">
          <div class="container">
               <h1>About us</h1>
               <h2>A brief introduction on what us do
                   <a href="../page_alternative.html">blahblah</a></h2>
               <ul class="breadcrumb pull-right">
                    <li><a href="{% url 'home' %}">Home</a> </li>
                    <li class="active">About us</li>
               </ul>
          </div>     
     </section>
     <section class="article-text">
     <div class="container">
          <div class="row">
               <div class="col-sm-8 col-md-8">
                    <p>Global GreenLife Inc. is a high-tech company located in the Silicon Valley. Founded in 2011 by a
                        group of Ph.D. engineers and researchers, Global GreenLife Inc. develops and sells building energy
                        analysis, HVAC, environmental control and energy management software. Our software includes desktop;
                        cloud-based and mobile software for energy and economic analyses; environmental control and energy management;
                        HVAC load calculations; duct sizing; psychrometrics; equipment sizing and selection,
                        and much more. Our clients include customers throughout the world, from the Fortune 500 companies,
                        to smaller architectural/engineering firms. In 2013 we expanded our business to Asia with an office
                        in Shanghai, China (Shanghai EverGreen IT Co. Ltd.).</p>
                    <p><img src="../images/clients/awesome.jpg" width="140" height="70" alt="jquery"></p>
                    <blockquote>
                         <p>Trustable solution to pave our road to success</p>
                         <small>Clients are talking about us</small> </blockquote>
               </div>
               <div class="col-sm-4 col-md-4">
                    <div class="service_teaser vertical">
                         <div class="service_photo">
                              <figure style="background-image:url(../images/serv_6.jpg)"></figure>
                         </div>
                         <div class="service_details">
                              <h2 class="section_header skincolored"><b>Teaser</b>Element<small>has many styles!</small></h2>
                              <a class="btn btn-primary" href="../documentation/index.html">Just teasing you &nbsp; <i class="fa fa-code-fork"></i></a> </div>
                    </div>
               </div>
          </div>
     </div>     
     </section>
     <section class="call_to_action"> <img alt="responsive" src="static/images/star.png">
          <div class="container">
               <h3>give your creative ideas a boost</h3>
               <h4>mouse over our team photos to see a cool effect!</h4>
          </div>     
     </section>
     <section class="team_members">
          <div class="container">
               <h2 class="section_header fancy centered">Meet our Team... <small>they are always up to something good!</small></h2>
               <div class="row">
                    <div class="col-sm-6 col-md-3">
                         <div class="team_member">
                              <figure style="background-image: url(../images/1b.jpg)"><img src="static/images/1a.jpg" alt="1a"></figure>
                              <h5>Wenli Yu</h5>
                              <small>CEO / Founder</small>
                              <hr>
                              <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
                              <p class="short_bio">Short introduction</p>
                         </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                         <div class="team_member">
                              <figure style="background-image: url(../images/2b.jpg)"><img src="static/images/2a.jpg" alt="2a"></figure>
                              <h5>Tom Tan</h5>
                              <small>CTO / Founder</small>
                              <hr>
                              <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
                              <p class="short_bio">Short introduction</p>
                         </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                         <div class="team_member">
                              <figure style="background-image: url(../images/3b.jpg)"><img src="static/images/3a.jpg" alt="3a"></figure>
                              <h5>Sherry Hu</h5>
                              <small>COO</small>
                              <hr>
                              <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="https://github.com/PlethoraThemes"><i class="fa fa-github-alt"></i></a> </div>
                              <p class="short_bio">Introduction</p>
                         </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                         <div class="team_member">
                              <figure style="background-image: url(../images/4b.jpg)"><img src="static/images/4a.jpg" alt="4a"></figure>
                              <h5>Kevin Huang</h5>
                              <small>Engineer</small>
                              <hr>
                              <div class="team_social"> <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a> <a href="https://twitter.com/leonartgr"><i class="fa fa-twitter"></i></a> <a href="#pinterest"><i class="fa fa-linkedin"></i></a> <a href="#googleplus"><i class="fa fa-google-plus"></i></a> </div>
                              <p class="short_bio">Introduction</p>
                         </div>
                    </div>
               </div>
          </div>     
     </section>

{% endblock %}