{% extends "base.html" %}
{% load bootstrap %}



{% load i18n %}

<div class="full_page_photo"><div id="map"></div></div>
{% block content %}
      <section class="hgroup">
          <div class="container">
               <h1>Contact us</h1>
               <h2>A free demo is ready for you any time</h2>
               <ul class="breadcrumb pull-right">
                    <li><a href="index.html">Home</a> </li>
                    <li class="active">Contact</li>
               </ul>
           </div>
      </section>
      <section>
          <div class="container">
               <div class="row">
                    <div class="office_address col-sm-4 col-md-4">
                         <div class="team_member">
                         	<img src="static/images/logo_300.png" width="190" height="190" alt="logo"><br>

                             <address>
                              <strong></strong><br>
                              1059 East Meadow Circle, Suite 134<br>
                              Palo Alto, CA 94303<br>
                              <abbr title="Phone">Phone:</abbr>+1 650.720.5820
                              </address>
                              <address>
                              <abbr title="Phone">Email:</abbr> <a href="mailto:sales@ArchimedesControls.com">sales@ArchimedesControls.com</a>
                              </address>
                         </div>
                    </div>
                    <div class="contact_form col-sm-8 col-md-8">
                        <form action="{% url 'contact_form_view' %}" method="POST">
                            {% csrf_token %}
                            {{ form|bootstrap }}
                            <button class="btn btn-primary btn-contact">Contact</button>
                        </form>
                    </div>
               </div>
           </div>
      </section>

{% endblock %}