{% extends "base.html" %}

{% load i18n %}


{% block full_page_photo %}
<section id="slider_wrapper" class="slider_wrapper full_page_photo">
         <div id="main_flexslider" class="flexslider ">
              <ul class="slides">
                  <li class="item" style="background-image: url(static/images/Sliding2_DataCenter.png)">
                        <div class="container">
                             <div class="carousel-caption">
                                  <h1 class="skincolored">The <strong>leading</strong> operational solution to your data center</h1></br>
                                  <p class="lead">Our solution is environmentally friendly and affordable.
                                      Save more than 30% energy on your data center</p>
                             </div>
                        </div>
                   </li>
                   <li class="item" style="background-image: url(static/images/Sliding3_AC150.png)">
                        <div class="container">
                             <div class="carousel-caption">
                                  <h1>The best way to show valuable data.</h1></br>
                                  <p class="lead skincolored">Our IoT solution provides the best experience in data monitoring and analysis. <br>
                                  </p>
                             </div>
                        </div>
                   </li>
                  <li class="item" style="background-image: url(static/images/Sliding4_CompanyCulture.png)">

                  </li>
              </ul>
         </div>
    </section>
{% endblock %}


{% block content %}


     
     <section class="call_to_action">
          <div class="container">
               <h3>What is <strong>Archimedes Controls</strong>?</h3>
               <h4>Where you see servers and equipment in data centers We see data — everywhere. Archimedes Controls
                   offers the leading IoT platform for Operational Intelligence. It enables insights and capabilities that can help
                   make your data center more productive, profitable, competitive and secure. What can you do with Archimedes Controls?
Just click.</h4>
               <a class="btn btn-primary btn-lg" href="{% url 'solutions' %}">Explore our solution!</a>
          </div>     
     </section>
     <section class="features_teasers_wrapper">
          <div class="container">
               <div class="row">
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="static/images/flag_rocket.png">
                         <h3>Safe and Reliable Environment</h3>
                         <p>Our technology provides a <strong>safe and reliable</strong> solution to make data center work for your company's growth.
                            With our solution, there is no need to worry about temperature fluctuation in your data center's entire environment.
                         </p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="static/images/flat_efficient.png">
                         <h3>Efficiency with Minimum Cost</h3>
                         <p>Keep your data center’s power consumption at a minimum while saving over thousands of dollars with our new innovative technology. </p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="static/images/flat_visualization.png">
                         <h3>Visualization on running status in real-time</h3>
                         <p>We provide the latest technology to monitor, analyze, and protect your long-term investment. </p>
                    </div>
               </div>
          </div>
     </section>
     <section class="portfolio_teasers_wrapper">
          <div class="container">
               <h2 class="section_header fancy centered">Our Exceptional Solutions<small>we take pride in our work</small></h2>
               <div class="portfolio_strict row">
                    <div class="col-sm-4 col-md-4">
                         <div class="portfolio_item wow animated flipInX"> <a href="{% url 'solution_A150' %}" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                              <figure style="background-image:url(static/images/A150_cover2.png)">
                                   <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                                   </svg>
                                   <figcaption>
                                        <p>Help data centers and other mission critical buildings to improve operation security
                             and reduce energy consumption by ...</p>
                                        <div class="view_button">View</div>
                                   </figcaption>
                              </figure>
                              </a>
                              <div class="portfolio_description">
                                   <h3><a href="../portfolio_item.html">A150 Vertical Solution</a></h3>
                                   <p></p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>     
     </section>
    <!--
     <section class="clients_section wow animated fadeInUp">
          <div class="container">
               <h2 class="section_header elegant centered">Our clients<small>all of them are satisfied</small></h2>
               <div class="clients_list"> <a href="#"><img src="static/images/clients/wordpress.jpg" alt="client"></a> <a href="#"><img src="static/images/clients/jquery.jpg" alt="client"></a> <a href="#">
                   <img src="static/images/clients/microlancer.jpg" alt="client"></a> <a href="#"><img src="static/images/clients/bbpress.jpg" alt="client"></a> <a href="#"><img src="static/images/clients/wpml.jpg" alt="client"></a> </div>
          </div>     
     </section>
    -->
{% endblock %}