{% extends "base.html" %}

{% load i18n %}


{% block full_page_photo %}
<section id="slider_wrapper" class="slider_wrapper full_page_photo">
         <div id="main_flexslider" class="flexslider ">
              <ul class="slides">
                   <li class="item" style="background-image: url(static/images/01_1920x480.jpg)">
                        <div class="container">
                             <div class="carousel-caption">
                                  <h1>a <strong>well-rounded</strong> solution<br>
                                       you can <strong>trust</strong> &amp; <strong>grow with</strong>!</h1>
                                  <p class="lead skincolored"><strong>Archimedes</strong> Controls provides <strong>vertical solution</strong> and
                                      <strong>smart tools</strong> serving as a foundation for your creative projects. With us, your data center is
                                      always efficient and secure.</p>
                                 <!--
                                  <span class="round_badge"><strong><i class="fa fa-twitter"></i></strong><strong>V3</strong></span> </div>
                                  -->
                        </div>
                   </li>
                   <li class="item" style="background-image: url(static/images/1920x480.png)">
                        <div class="container">
                             <div class="carousel-caption">
                                  <h1>subject 2<br>
                                    say something here</h1></br>
                                  <p class="lead skincolored">content 2 say lots of things here</p>
                             </div>
                        </div>
                   </li>
                   <li class="item" style="background-image: url(static/images/03_1920x480.jpg)">
                        <div class="container">
                             <div class="carousel-caption">
                                  <h1 class="skincolored">subject 3</h1></br>
                                  <p class="lead">content 3</p>
                             </div>
                        </div>
                   </li>
              </ul>
         </div>
    </section>
{% endblock %}


{% block content %}


     
     <section class="call_to_action">
          <div class="container">
               <h3>What is Archimedes Controls?</h3>
               <h4>You see servers, devices and Air Conditions in Data Center. We see data — everywhere. Archimedes Controls® offers the leading IoT platform for Operational Intelligence. It enables insights and capabilities that can help make your data center more productive, profitable, competitive and secure. What can you do with Archimedes Controls?
Just click.</h4>
               <a class="btn btn-primary btn-lg" href="#">Explore our solution!</a>
          </div>     
     </section>
     <section class="features_teasers_wrapper">
          <div class="container">
               <div class="row">
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="static/images/flag_rocket.png">
                         <h3>Safe and Reliable Environment</h3>
                         <p>Our solution provides <strong>safe and reliable</strong> solution to make data center work powerfully for your growth</p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="static/images/flat_efficient.png">
                         <h3>Efficiency with Minimum Cost</h3>
                         <p>With reasonable add-on construction budget, our solution can save your budget with minumum power consumption.</p>
                    </div>
                    <div class="feature_teaser col-sm-4 col-md-4"> <img alt="responsive" src="static/images/flat_visualization.png">
                         <h3>Visualization on running status in real-time</h3>
                         <p>Make sure your data center is always under monitoring and protection. Provide decent dashboard to analyze your data center.</p>
                    </div>
               </div>
          </div>
     </section>
     <section class="portfolio_teasers_wrapper">
          <div class="container">
               <h2 class="section_header fancy centered">Our Exceptional Solutions<small>we take pride in our work</small></h2>
               <div class="portfolio_strict row">
                    <div class="col-sm-4 col-md-4">
                         <div class="portfolio_item wow animated flipInX"> <a href="{% url 'solution_A150' %}" data-path-hover="M 180,190 0,158 0,0 180,0 z">
                              <figure style="background-image:url(static/images/A150_cover.png)">
                                   <svg viewBox="0 0 180 320" preserveAspectRatio="none">
                                        <path d="M 180,0 0,0 0,0 180,0 z"/>
                                   </svg>
                                   <figcaption>
                                        <p>Help data centers and other mission critical buildings to improve operation security
                             and reduce energy consumption by ...</p>
                                        <div class="view_button">View</div>
                                   </figcaption>
                              </figure>
                              </a>
                              <div class="portfolio_description">
                                   <h3><a href="../portfolio_item.html">A150 Vertical Solution</a></h3>
                                   <p></p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>     
     </section>
    <!--
     <section class="clients_section wow animated fadeInUp">
          <div class="container">
               <h2 class="section_header elegant centered">Our clients<small>all of them are satisfied</small></h2>
               <div class="clients_list"> <a href="#"><img src="static/images/clients/wordpress.jpg" alt="client"></a> <a href="#"><img src="static/images/clients/jquery.jpg" alt="client"></a> <a href="#">
                   <img src="static/images/clients/microlancer.jpg" alt="client"></a> <a href="#"><img src="static/images/clients/bbpress.jpg" alt="client"></a> <a href="#"><img src="static/images/clients/wpml.jpg" alt="client"></a> </div>
          </div>     
     </section>
    -->
{% endblock %}