{% extends "base.html" %}

{% load i18n %}


{% block full_page_photo %}
<div class="full_page_photo" style="background-image: url(static/images/Sliding2_DataCenter.png);">
     <div class="container">
          <section class="call_to_action">
               <h3 class="animated bounceInDown skincolored">The <strong>smarter</strong> the data center, the <strong>higher</strong> the profit</h3>
               <br>
               <h4 class="animated bounceInUp">Our <strong>customers</strong> are always <strong>satisfied</strong>!</h4>
          </section>
     </div>
</div>
{% endblock %}
{% block content %}
     <div class="container bs-docs-container">
          <div class="row">
               <div class="col-md-9" role="main">
                    <div class="bs-docs-section">
                        <h1 id="layout" class="page-header"><i class="fa fa-rocket"></i>    A150</h1>
                        <p>By monitoring indoor environment, optimizing HVAC systems with intelligence algorithms, and
                            enhancing system management using real time 3D visualization, Data center and other mission
                            critical facility managers can improve their operational security while reducing energy
                            consumption.
                        </p>
                        <p>&nbsp;</p>
</p>                    <img src="static/images/A150_dc.png">
                        <p>&nbsp;</p>
                        <p>
                            Our A150 Next-Gen Data Center Management System includes features such as:
                            <ul>
                                <li>
                                    Precise temperature, humidity and air velocity measurement for all IT and network
                                    equipment at the finest granularity with no missing gap or guess work
                                </li>
                                <li>
                                    A centralized real-time environment surveillance system using 3D graph, charts,
                                    and tables. An all-info view at one glance
                                </li>
                                <li>
                                    Intelligent AC control mechanism for reducing energy consumption and operational cost
                                </li>
                                <li>
                                    Ultra-long life wireless sensor networks (>10 yrs) enabling easy installation and sensor relocation
                                </li>
                                <li>
                                    Accurate identification of hot spots, over-cooling, and other abnormalities
                                    empowering early warning, error diagnosis and predictive analysis as well as
                                    suggested corrective actions
                                </li>
                                <li>
                                    Powerful management tool for data center assets, rack space and AC capacity
                                    facilitating expansion analysis and resource utilization
                                </li>
                            </ul>
                        </p>
                        <p>&nbsp;</p>
                        <img src="static/images/A150_range.png"  alt="main layout">
                        <p>&nbsp;</p>
                        <img src="static/images/A150_temp.png"  alt="main layout">

                    </div>




               </div>
              <!--
               <div class="col-md-3 hidden-sm hidden-xs">
                    <div class="bs-docs-sidebar hidden-print" role="complementary" data-spy="affix" data-offset-top="564">
                         <ul class="nav bs-docs-sidenav">
                              <li><a href="#overview"><i class="fa fa-book"></i> Overview</a></li>
                              <li><a href="#layout"><i class="fa fa-th-large"></i> Grid & Layout</a></li>
                              <li><a href="#less"><i class="fa fa-stack-overflow"></i> {LESS} & CSS</a></li>
                              <li><a href="#header"><i class="fa fa-hand-o-up"></i> Header</a></li>
                             
                              <li><a href="#flexslider"><i class="fa fa-indent"></i> Flexslider</a></li>
                              <li><a href="#fullpagephoto"><i class="fa fa-picture-o"></i> Fullpage Photo</a></li>
                              <li><a href="#portfolio"><i class="fa fa-th"></i> Portfolio & Isotope</a></li>
                              <li><a href="#shortcodes"><i class="fa fa-rocket"></i> Styled Elements</a></li>
                              <li><a href="#footer"><i class="fa fa-hand-o-down"></i> Footer &amp; Contact</a></li>
                              <li><a href="#animations"><i class="fa fa-magic"></i> Animations</a></li>
                      
                         </ul>
                    </div>
               </div>
               -->
          </div>
     </div>

{% endblock %}